/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$arrow-down-x: 464px;
$arrow-down-y: 70px;
$arrow-down-offset-x: -464px;
$arrow-down-offset-y: -70px;
$arrow-down-width: 7px;
$arrow-down-height: 5px;
$arrow-down-total-width: 563px;
$arrow-down-total-height: 554px;
$arrow-down-image: 'sprite.png';
$arrow-down: 464px 70px -464px -70px 7px 5px 563px 554px 'sprite.png';
$arrow-up-x: 457px;
$arrow-up-y: 70px;
$arrow-up-offset-x: -457px;
$arrow-up-offset-y: -70px;
$arrow-up-width: 7px;
$arrow-up-height: 5px;
$arrow-up-total-width: 563px;
$arrow-up-total-height: 554px;
$arrow-up-image: 'sprite.png';
$arrow-up: 457px 70px -457px -70px 7px 5px 563px 554px 'sprite.png';
$btn-close-x: 457px;
$btn-close-y: 244px;
$btn-close-offset-x: -457px;
$btn-close-offset-y: -244px;
$btn-close-width: 11px;
$btn-close-height: 11px;
$btn-close-total-width: 563px;
$btn-close-total-height: 554px;
$btn-close-image: 'sprite.png';
$btn-close: 457px 244px -457px -244px 11px 11px 563px 554px 'sprite.png';
$comment-num-x: 0px;
$comment-num-y: 492px;
$comment-num-offset-x: 0px;
$comment-num-offset-y: -492px;
$comment-num-width: 59px;
$comment-num-height: 22px;
$comment-num-total-width: 563px;
$comment-num-total-height: 554px;
$comment-num-image: 'sprite.png';
$comment-num: 0px 492px 0px -492px 59px 22px 563px 554px 'sprite.png';
$cover40-search-x: 165px;
$cover40-search-y: 62px;
$cover40-search-offset-x: -165px;
$cover40-search-offset-y: -62px;
$cover40-search-width: 42px;
$cover40-search-height: 42px;
$cover40-search-total-width: 563px;
$cover40-search-total-height: 554px;
$cover40-search-image: 'sprite.png';
$cover40-search: 165px 62px -165px -62px 42px 42px 563px 554px 'sprite.png';
$cover40-x: 120px;
$cover40-y: 108px;
$cover40-offset-x: -120px;
$cover40-offset-y: -108px;
$cover40-width: 42px;
$cover40-height: 42px;
$cover40-total-width: 563px;
$cover40-total-height: 554px;
$cover40-image: 'sprite.png';
$cover40: 120px 108px -120px -108px 42px 42px 563px 554px 'sprite.png';
$cover56-x: 62px;
$cover56-y: 108px;
$cover56-offset-x: -62px;
$cover56-offset-y: -108px;
$cover56-width: 58px;
$cover56-height: 58px;
$cover56-total-width: 563px;
$cover56-total-height: 554px;
$cover56-image: 'sprite.png';
$cover56: 62px 108px -62px -108px 58px 58px 563px 554px 'sprite.png';
$cover60-gray-x: 165px;
$cover60-gray-y: 0px;
$cover60-gray-offset-x: -165px;
$cover60-gray-offset-y: 0px;
$cover60-gray-width: 62px;
$cover60-gray-height: 62px;
$cover60-gray-total-width: 563px;
$cover60-gray-total-height: 554px;
$cover60-gray-image: 'sprite.png';
$cover60-gray: 165px 0px -165px 0px 62px 62px 563px 554px 'sprite.png';
$cover60-white-x: 0px;
$cover60-white-y: 108px;
$cover60-white-offset-x: 0px;
$cover60-white-offset-y: -108px;
$cover60-white-width: 62px;
$cover60-white-height: 62px;
$cover60-white-total-width: 563px;
$cover60-white-total-height: 554px;
$cover60-white-image: 'sprite.png';
$cover60-white: 0px 108px 0px -108px 62px 62px 563px 554px 'sprite.png';
$cover70-x: 93px;
$cover70-y: 0px;
$cover70-offset-x: -93px;
$cover70-offset-y: 0px;
$cover70-width: 72px;
$cover70-height: 72px;
$cover70-total-width: 563px;
$cover70-total-height: 554px;
$cover70-image: 'sprite.png';
$cover70: 93px 0px -93px 0px 72px 72px 563px 554px 'sprite.png';
$goto-page-btn-on-x: 260px;
$goto-page-btn-on-y: 290px;
$goto-page-btn-on-offset-x: -260px;
$goto-page-btn-on-offset-y: -290px;
$goto-page-btn-on-width: 94px;
$goto-page-btn-on-height: 34px;
$goto-page-btn-on-total-width: 563px;
$goto-page-btn-on-total-height: 554px;
$goto-page-btn-on-image: 'sprite.png';
$goto-page-btn-on: 260px 290px -260px -290px 94px 34px 563px 554px 'sprite.png';
$goto-page-btn-x: 300px;
$goto-page-btn-y: 366px;
$goto-page-btn-offset-x: -300px;
$goto-page-btn-offset-y: -366px;
$goto-page-btn-width: 94px;
$goto-page-btn-height: 34px;
$goto-page-btn-total-width: 563px;
$goto-page-btn-total-height: 554px;
$goto-page-btn-image: 'sprite.png';
$goto-page-btn: 300px 366px -300px -366px 94px 34px 563px 554px 'sprite.png';
$gray-star-x: 207px;
$gray-star-y: 76px;
$gray-star-offset-x: -207px;
$gray-star-offset-y: -76px;
$gray-star-width: 14px;
$gray-star-height: 14px;
$gray-star-total-width: 563px;
$gray-star-total-height: 554px;
$gray-star-image: 'sprite.png';
$gray-star: 207px 76px -207px -76px 14px 14px 563px 554px 'sprite.png';
$icon-all2-x: 310px;
$icon-all2-y: 210px;
$icon-all2-offset-x: -310px;
$icon-all2-offset-y: -210px;
$icon-all2-width: 35px;
$icon-all2-height: 35px;
$icon-all2-total-width: 563px;
$icon-all2-total-height: 554px;
$icon-all2-image: 'sprite.png';
$icon-all2: 310px 210px -310px -210px 35px 35px 563px 554px 'sprite.png';
$icon-all3-x: 457px;
$icon-all3-y: 148px;
$icon-all3-offset-x: -457px;
$icon-all3-offset-y: -148px;
$icon-all3-width: 25px;
$icon-all3-height: 25px;
$icon-all3-total-width: 563px;
$icon-all3-total-height: 554px;
$icon-all3-image: 'sprite.png';
$icon-all3: 457px 148px -457px -148px 25px 25px 563px 554px 'sprite.png';
$icon-b-cancel01-on-x: 357px;
$icon-b-cancel01-on-y: 112px;
$icon-b-cancel01-on-offset-x: -357px;
$icon-b-cancel01-on-offset-y: -112px;
$icon-b-cancel01-on-width: 50px;
$icon-b-cancel01-on-height: 36px;
$icon-b-cancel01-on-total-width: 563px;
$icon-b-cancel01-on-total-height: 554px;
$icon-b-cancel01-on-image: 'sprite.png';
$icon-b-cancel01-on: 357px 112px -357px -112px 50px 36px 563px 554px 'sprite.png';
$icon-b-cancel01-x: 407px;
$icon-b-cancel01-y: 112px;
$icon-b-cancel01-offset-x: -407px;
$icon-b-cancel01-offset-y: -112px;
$icon-b-cancel01-width: 50px;
$icon-b-cancel01-height: 36px;
$icon-b-cancel01-total-width: 563px;
$icon-b-cancel01-total-height: 554px;
$icon-b-cancel01-image: 'sprite.png';
$icon-b-cancel01: 407px 112px -407px -112px 50px 36px 563px 554px 'sprite.png';
$icon-b-cancel02-on-x: 93px;
$icon-b-cancel02-on-y: 72px;
$icon-b-cancel02-on-offset-x: -93px;
$icon-b-cancel02-on-offset-y: -72px;
$icon-b-cancel02-on-width: 50px;
$icon-b-cancel02-on-height: 36px;
$icon-b-cancel02-on-total-width: 563px;
$icon-b-cancel02-on-total-height: 554px;
$icon-b-cancel02-on-image: 'sprite.png';
$icon-b-cancel02-on: 93px 72px -93px -72px 50px 36px 563px 554px 'sprite.png';
$icon-b-cancel02-x: 162px;
$icon-b-cancel02-y: 108px;
$icon-b-cancel02-offset-x: -162px;
$icon-b-cancel02-offset-y: -108px;
$icon-b-cancel02-width: 50px;
$icon-b-cancel02-height: 36px;
$icon-b-cancel02-total-width: 563px;
$icon-b-cancel02-total-height: 554px;
$icon-b-cancel02-image: 'sprite.png';
$icon-b-cancel02: 162px 108px -162px -108px 50px 36px 563px 554px 'sprite.png';
$icon-b-down-fail-x: 100px;
$icon-b-down-fail-y: 330px;
$icon-b-down-fail-offset-x: -100px;
$icon-b-down-fail-offset-y: -330px;
$icon-b-down-fail-width: 100px;
$icon-b-down-fail-height: 36px;
$icon-b-down-fail-total-width: 563px;
$icon-b-down-fail-total-height: 554px;
$icon-b-down-fail-image: 'sprite.png';
$icon-b-down-fail: 100px 330px -100px -330px 100px 36px 563px 554px 'sprite.png';
$icon-b-down-ok-x: 200px;
$icon-b-down-ok-y: 330px;
$icon-b-down-ok-offset-x: -200px;
$icon-b-down-ok-offset-y: -330px;
$icon-b-down-ok-width: 100px;
$icon-b-down-ok-height: 36px;
$icon-b-down-ok-total-width: 563px;
$icon-b-down-ok-total-height: 554px;
$icon-b-down-ok-image: 'sprite.png';
$icon-b-down-ok: 200px 330px -200px -330px 100px 36px 563px 554px 'sprite.png';
$icon-b-down-on-x: 300px;
$icon-b-down-on-y: 330px;
$icon-b-down-on-offset-x: -300px;
$icon-b-down-on-offset-y: -330px;
$icon-b-down-on-width: 100px;
$icon-b-down-on-height: 36px;
$icon-b-down-on-total-width: 563px;
$icon-b-down-on-total-height: 554px;
$icon-b-down-on-image: 'sprite.png';
$icon-b-down-on: 300px 330px -300px -330px 100px 36px 563px 554px 'sprite.png';
$icon-b-down-x: 0px;
$icon-b-down-y: 366px;
$icon-b-down-offset-x: 0px;
$icon-b-down-offset-y: -366px;
$icon-b-down-width: 100px;
$icon-b-down-height: 36px;
$icon-b-down-total-width: 563px;
$icon-b-down-total-height: 554px;
$icon-b-down-image: 'sprite.png';
$icon-b-down: 0px 366px 0px -366px 100px 36px 563px 554px 'sprite.png';
$icon-b-downing-on-x: 130px;
$icon-b-downing-on-y: 170px;
$icon-b-downing-on-offset-x: -130px;
$icon-b-downing-on-offset-y: -170px;
$icon-b-downing-on-width: 50px;
$icon-b-downing-on-height: 36px;
$icon-b-downing-on-total-width: 563px;
$icon-b-downing-on-total-height: 554px;
$icon-b-downing-on-image: 'sprite.png';
$icon-b-downing-on: 130px 170px -130px -170px 50px 36px 563px 554px 'sprite.png';
$icon-b-downing-x: 100px;
$icon-b-downing-y: 366px;
$icon-b-downing-offset-x: -100px;
$icon-b-downing-offset-y: -366px;
$icon-b-downing-width: 100px;
$icon-b-downing-height: 36px;
$icon-b-downing-total-width: 563px;
$icon-b-downing-total-height: 554px;
$icon-b-downing-image: 'sprite.png';
$icon-b-downing: 100px 366px -100px -366px 100px 36px 563px 554px 'sprite.png';
$icon-b-resume-on-x: 260px;
$icon-b-resume-on-y: 210px;
$icon-b-resume-on-offset-x: -260px;
$icon-b-resume-on-offset-y: -210px;
$icon-b-resume-on-width: 50px;
$icon-b-resume-on-height: 36px;
$icon-b-resume-on-total-width: 563px;
$icon-b-resume-on-total-height: 554px;
$icon-b-resume-on-image: 'sprite.png';
$icon-b-resume-on: 260px 210px -260px -210px 50px 36px 563px 554px 'sprite.png';
$icon-b-resume-x: 260px;
$icon-b-resume-y: 250px;
$icon-b-resume-offset-x: -260px;
$icon-b-resume-offset-y: -250px;
$icon-b-resume-width: 50px;
$icon-b-resume-height: 36px;
$icon-b-resume-total-width: 563px;
$icon-b-resume-total-height: 554px;
$icon-b-resume-image: 'sprite.png';
$icon-b-resume: 260px 250px -260px -250px 50px 36px 563px 554px 'sprite.png';
$icon-b-setup-fail-x: 357px;
$icon-b-setup-fail-y: 40px;
$icon-b-setup-fail-offset-x: -357px;
$icon-b-setup-fail-offset-y: -40px;
$icon-b-setup-fail-width: 100px;
$icon-b-setup-fail-height: 36px;
$icon-b-setup-fail-total-width: 563px;
$icon-b-setup-fail-total-height: 554px;
$icon-b-setup-fail-image: 'sprite.png';
$icon-b-setup-fail: 357px 40px -357px -40px 100px 36px 563px 554px 'sprite.png';
$icon-b-setup-ok-x: 357px;
$icon-b-setup-ok-y: 76px;
$icon-b-setup-ok-offset-x: -357px;
$icon-b-setup-ok-offset-y: -76px;
$icon-b-setup-ok-width: 100px;
$icon-b-setup-ok-height: 36px;
$icon-b-setup-ok-total-width: 563px;
$icon-b-setup-ok-total-height: 554px;
$icon-b-setup-ok-image: 'sprite.png';
$icon-b-setup-ok: 357px 76px -357px -76px 100px 36px 563px 554px 'sprite.png';
$icon-b-setup-on-x: 357px;
$icon-b-setup-on-y: 148px;
$icon-b-setup-on-offset-x: -357px;
$icon-b-setup-on-offset-y: -148px;
$icon-b-setup-on-width: 100px;
$icon-b-setup-on-height: 36px;
$icon-b-setup-on-total-width: 563px;
$icon-b-setup-on-total-height: 554px;
$icon-b-setup-on-image: 'sprite.png';
$icon-b-setup-on: 357px 148px -357px -148px 100px 36px 563px 554px 'sprite.png';
$icon-b-setup-x: 357px;
$icon-b-setup-y: 184px;
$icon-b-setup-offset-x: -357px;
$icon-b-setup-offset-y: -184px;
$icon-b-setup-width: 100px;
$icon-b-setup-height: 36px;
$icon-b-setup-total-width: 563px;
$icon-b-setup-total-height: 554px;
$icon-b-setup-image: 'sprite.png';
$icon-b-setup: 357px 184px -357px -184px 100px 36px 563px 554px 'sprite.png';
$icon-b-setuping-x: 357px;
$icon-b-setuping-y: 220px;
$icon-b-setuping-offset-x: -357px;
$icon-b-setuping-offset-y: -220px;
$icon-b-setuping-width: 100px;
$icon-b-setuping-height: 36px;
$icon-b-setuping-total-width: 563px;
$icon-b-setuping-total-height: 554px;
$icon-b-setuping-image: 'sprite.png';
$icon-b-setuping: 357px 220px -357px -220px 100px 36px 563px 554px 'sprite.png';
$icon-b-update-on-x: 357px;
$icon-b-update-on-y: 256px;
$icon-b-update-on-offset-x: -357px;
$icon-b-update-on-offset-y: -256px;
$icon-b-update-on-width: 100px;
$icon-b-update-on-height: 36px;
$icon-b-update-on-total-width: 563px;
$icon-b-update-on-total-height: 554px;
$icon-b-update-on-image: 'sprite.png';
$icon-b-update-on: 357px 256px -357px -256px 100px 36px 563px 554px 'sprite.png';
$icon-b-update-x: 357px;
$icon-b-update-y: 292px;
$icon-b-update-offset-x: -357px;
$icon-b-update-offset-y: -292px;
$icon-b-update-width: 100px;
$icon-b-update-height: 36px;
$icon-b-update-total-width: 563px;
$icon-b-update-total-height: 554px;
$icon-b-update-image: 'sprite.png';
$icon-b-update: 357px 292px -357px -292px 100px 36px 563px 554px 'sprite.png';
$icon-b-updateing-x: 0px;
$icon-b-updateing-y: 330px;
$icon-b-updateing-offset-x: 0px;
$icon-b-updateing-offset-y: -330px;
$icon-b-updateing-width: 100px;
$icon-b-updateing-height: 36px;
$icon-b-updateing-total-width: 563px;
$icon-b-updateing-total-height: 554px;
$icon-b-updateing-image: 'sprite.png';
$icon-b-updateing: 0px 330px 0px -330px 100px 36px 563px 554px 'sprite.png';
$icon-calendar-x: 546px;
$icon-calendar-y: 448px;
$icon-calendar-offset-x: -546px;
$icon-calendar-offset-y: -448px;
$icon-calendar-width: 14px;
$icon-calendar-height: 14px;
$icon-calendar-total-width: 563px;
$icon-calendar-total-height: 554px;
$icon-calendar-image: 'sprite.png';
$icon-calendar: 546px 448px -546px -448px 14px 14px 563px 554px 'sprite.png';
$icon-cancel01-on-x: 457px;
$icon-cancel01-on-y: 256px;
$icon-cancel01-on-offset-x: -457px;
$icon-cancel01-on-offset-y: -256px;
$icon-cancel01-on-width: 30px;
$icon-cancel01-on-height: 20px;
$icon-cancel01-on-total-width: 563px;
$icon-cancel01-on-total-height: 554px;
$icon-cancel01-on-image: 'sprite.png';
$icon-cancel01-on: 457px 256px -457px -256px 30px 20px 563px 554px 'sprite.png';
$icon-cancel01-x: 457px;
$icon-cancel01-y: 292px;
$icon-cancel01-offset-x: -457px;
$icon-cancel01-offset-y: -292px;
$icon-cancel01-width: 30px;
$icon-cancel01-height: 20px;
$icon-cancel01-total-width: 563px;
$icon-cancel01-total-height: 554px;
$icon-cancel01-image: 'sprite.png';
$icon-cancel01: 457px 292px -457px -292px 30px 20px 563px 554px 'sprite.png';
$icon-cancel02-on-x: 453px;
$icon-cancel02-on-y: 436px;
$icon-cancel02-on-offset-x: -453px;
$icon-cancel02-on-offset-y: -436px;
$icon-cancel02-on-width: 30px;
$icon-cancel02-on-height: 20px;
$icon-cancel02-on-total-width: 563px;
$icon-cancel02-on-total-height: 554px;
$icon-cancel02-on-image: 'sprite.png';
$icon-cancel02-on: 453px 436px -453px -436px 30px 20px 563px 554px 'sprite.png';
$icon-cancel02-x: 299px;
$icon-cancel02-y: 492px;
$icon-cancel02-offset-x: -299px;
$icon-cancel02-offset-y: -492px;
$icon-cancel02-width: 30px;
$icon-cancel02-height: 20px;
$icon-cancel02-total-width: 563px;
$icon-cancel02-total-height: 554px;
$icon-cancel02-image: 'sprite.png';
$icon-cancel02: 299px 492px -299px -492px 30px 20px 563px 554px 'sprite.png';
$icon-change-on-x: 472px;
$icon-change-on-y: 90px;
$icon-change-on-offset-x: -472px;
$icon-change-on-offset-y: -90px;
$icon-change-on-width: 14px;
$icon-change-on-height: 14px;
$icon-change-on-total-width: 563px;
$icon-change-on-total-height: 554px;
$icon-change-on-image: 'sprite.png';
$icon-change-on: 472px 90px -472px -90px 14px 14px 563px 554px 'sprite.png';
$icon-change-x: 457px;
$icon-change-y: 276px;
$icon-change-offset-x: -457px;
$icon-change-offset-y: -276px;
$icon-change-width: 14px;
$icon-change-height: 14px;
$icon-change-total-width: 563px;
$icon-change-total-height: 554px;
$icon-change-image: 'sprite.png';
$icon-change: 457px 276px -457px -276px 14px 14px 563px 554px 'sprite.png';
$icon-comma-x: 457px;
$icon-comma-y: 184px;
$icon-comma-offset-x: -457px;
$icon-comma-offset-y: -184px;
$icon-comma-width: 17px;
$icon-comma-height: 24px;
$icon-comma-total-width: 563px;
$icon-comma-total-height: 554px;
$icon-comma-image: 'sprite.png';
$icon-comma: 457px 184px -457px -184px 17px 24px 563px 554px 'sprite.png';
$icon-count-x: 457px;
$icon-count-y: 220px;
$icon-count-offset-x: -457px;
$icon-count-offset-y: -220px;
$icon-count-width: 17px;
$icon-count-height: 24px;
$icon-count-total-width: 563px;
$icon-count-total-height: 554px;
$icon-count-image: 'sprite.png';
$icon-count: 457px 220px -457px -220px 17px 24px 563px 554px 'sprite.png';
$icon-d-down-fail-x: 0px;
$icon-d-down-fail-y: 170px;
$icon-d-down-fail-offset-x: 0px;
$icon-d-down-fail-offset-y: -170px;
$icon-d-down-fail-width: 130px;
$icon-d-down-fail-height: 40px;
$icon-d-down-fail-total-width: 563px;
$icon-d-down-fail-total-height: 554px;
$icon-d-down-fail-image: 'sprite.png';
$icon-d-down-fail: 0px 170px 0px -170px 130px 40px 563px 554px 'sprite.png';
$icon-d-down-ok-x: 227px;
$icon-d-down-ok-y: 120px;
$icon-d-down-ok-offset-x: -227px;
$icon-d-down-ok-offset-y: -120px;
$icon-d-down-ok-width: 130px;
$icon-d-down-ok-height: 40px;
$icon-d-down-ok-total-width: 563px;
$icon-d-down-ok-total-height: 554px;
$icon-d-down-ok-image: 'sprite.png';
$icon-d-down-ok: 227px 120px -227px -120px 130px 40px 563px 554px 'sprite.png';
$icon-d-down-on-x: 227px;
$icon-d-down-on-y: 160px;
$icon-d-down-on-offset-x: -227px;
$icon-d-down-on-offset-y: -160px;
$icon-d-down-on-width: 130px;
$icon-d-down-on-height: 40px;
$icon-d-down-on-total-width: 563px;
$icon-d-down-on-total-height: 554px;
$icon-d-down-on-image: 'sprite.png';
$icon-d-down-on: 227px 160px -227px -160px 130px 40px 563px 554px 'sprite.png';
$icon-d-down-x: 0px;
$icon-d-down-y: 210px;
$icon-d-down-offset-x: 0px;
$icon-d-down-offset-y: -210px;
$icon-d-down-width: 130px;
$icon-d-down-height: 40px;
$icon-d-down-total-width: 563px;
$icon-d-down-total-height: 554px;
$icon-d-down-image: 'sprite.png';
$icon-d-down: 0px 210px 0px -210px 130px 40px 563px 554px 'sprite.png';
$icon-d-downing-x: 130px;
$icon-d-downing-y: 210px;
$icon-d-downing-offset-x: -130px;
$icon-d-downing-offset-y: -210px;
$icon-d-downing-width: 130px;
$icon-d-downing-height: 40px;
$icon-d-downing-total-width: 563px;
$icon-d-downing-total-height: 554px;
$icon-d-downing-image: 'sprite.png';
$icon-d-downing: 130px 210px -130px -210px 130px 40px 563px 554px 'sprite.png';
$icon-d-setup-fail-x: 0px;
$icon-d-setup-fail-y: 250px;
$icon-d-setup-fail-offset-x: 0px;
$icon-d-setup-fail-offset-y: -250px;
$icon-d-setup-fail-width: 130px;
$icon-d-setup-fail-height: 40px;
$icon-d-setup-fail-total-width: 563px;
$icon-d-setup-fail-total-height: 554px;
$icon-d-setup-fail-image: 'sprite.png';
$icon-d-setup-fail: 0px 250px 0px -250px 130px 40px 563px 554px 'sprite.png';
$icon-d-setup-ok-x: 130px;
$icon-d-setup-ok-y: 250px;
$icon-d-setup-ok-offset-x: -130px;
$icon-d-setup-ok-offset-y: -250px;
$icon-d-setup-ok-width: 130px;
$icon-d-setup-ok-height: 40px;
$icon-d-setup-ok-total-width: 563px;
$icon-d-setup-ok-total-height: 554px;
$icon-d-setup-ok-image: 'sprite.png';
$icon-d-setup-ok: 130px 250px -130px -250px 130px 40px 563px 554px 'sprite.png';
$icon-d-setup-on-x: 0px;
$icon-d-setup-on-y: 290px;
$icon-d-setup-on-offset-x: 0px;
$icon-d-setup-on-offset-y: -290px;
$icon-d-setup-on-width: 130px;
$icon-d-setup-on-height: 40px;
$icon-d-setup-on-total-width: 563px;
$icon-d-setup-on-total-height: 554px;
$icon-d-setup-on-image: 'sprite.png';
$icon-d-setup-on: 0px 290px 0px -290px 130px 40px 563px 554px 'sprite.png';
$icon-d-setup-x: 130px;
$icon-d-setup-y: 290px;
$icon-d-setup-offset-x: -130px;
$icon-d-setup-offset-y: -290px;
$icon-d-setup-width: 130px;
$icon-d-setup-height: 40px;
$icon-d-setup-total-width: 563px;
$icon-d-setup-total-height: 554px;
$icon-d-setup-image: 'sprite.png';
$icon-d-setup: 130px 290px -130px -290px 130px 40px 563px 554px 'sprite.png';
$icon-d-setuping-x: 357px;
$icon-d-setuping-y: 0px;
$icon-d-setuping-offset-x: -357px;
$icon-d-setuping-offset-y: 0px;
$icon-d-setuping-width: 130px;
$icon-d-setuping-height: 40px;
$icon-d-setuping-total-width: 563px;
$icon-d-setuping-total-height: 554px;
$icon-d-setuping-image: 'sprite.png';
$icon-d-setuping: 357px 0px -357px 0px 130px 40px 563px 554px 'sprite.png';
$icon-d-update-on-x: 227px;
$icon-d-update-on-y: 0px;
$icon-d-update-on-offset-x: -227px;
$icon-d-update-on-offset-y: 0px;
$icon-d-update-on-width: 130px;
$icon-d-update-on-height: 40px;
$icon-d-update-on-total-width: 563px;
$icon-d-update-on-total-height: 554px;
$icon-d-update-on-image: 'sprite.png';
$icon-d-update-on: 227px 0px -227px 0px 130px 40px 563px 554px 'sprite.png';
$icon-d-update-x: 227px;
$icon-d-update-y: 80px;
$icon-d-update-offset-x: -227px;
$icon-d-update-offset-y: -80px;
$icon-d-update-width: 130px;
$icon-d-update-height: 40px;
$icon-d-update-total-width: 563px;
$icon-d-update-total-height: 554px;
$icon-d-update-image: 'sprite.png';
$icon-d-update: 227px 80px -227px -80px 130px 40px 563px 554px 'sprite.png';
$icon-d-updateing-x: 227px;
$icon-d-updateing-y: 40px;
$icon-d-updateing-offset-x: -227px;
$icon-d-updateing-offset-y: -40px;
$icon-d-updateing-width: 130px;
$icon-d-updateing-height: 40px;
$icon-d-updateing-total-width: 563px;
$icon-d-updateing-total-height: 554px;
$icon-d-updateing-image: 'sprite.png';
$icon-d-updateing: 227px 40px -227px -40px 130px 40px 563px 554px 'sprite.png';
$icon-detail-collect-on-x: 468px;
$icon-detail-collect-on-y: 173px;
$icon-detail-collect-on-offset-x: -468px;
$icon-detail-collect-on-offset-y: -173px;
$icon-detail-collect-on-width: 11px;
$icon-detail-collect-on-height: 11px;
$icon-detail-collect-on-total-width: 563px;
$icon-detail-collect-on-total-height: 554px;
$icon-detail-collect-on-image: 'sprite.png';
$icon-detail-collect-on: 468px 173px -468px -173px 11px 11px 563px 554px 'sprite.png';
$icon-detail-collect-x: 457px;
$icon-detail-collect-y: 173px;
$icon-detail-collect-offset-x: -457px;
$icon-detail-collect-offset-y: -173px;
$icon-detail-collect-width: 11px;
$icon-detail-collect-height: 11px;
$icon-detail-collect-total-width: 563px;
$icon-detail-collect-total-height: 554px;
$icon-detail-collect-image: 'sprite.png';
$icon-detail-collect: 457px 173px -457px -173px 11px 11px 563px 554px 'sprite.png';
$icon-detail-comment-on-x: 468px;
$icon-detail-comment-on-y: 137px;
$icon-detail-comment-on-offset-x: -468px;
$icon-detail-comment-on-offset-y: -137px;
$icon-detail-comment-on-width: 11px;
$icon-detail-comment-on-height: 11px;
$icon-detail-comment-on-total-width: 563px;
$icon-detail-comment-on-total-height: 554px;
$icon-detail-comment-on-image: 'sprite.png';
$icon-detail-comment-on: 468px 137px -468px -137px 11px 11px 563px 554px 'sprite.png';
$icon-detail-comment-x: 457px;
$icon-detail-comment-y: 208px;
$icon-detail-comment-offset-x: -457px;
$icon-detail-comment-offset-y: -208px;
$icon-detail-comment-width: 11px;
$icon-detail-comment-height: 11px;
$icon-detail-comment-total-width: 563px;
$icon-detail-comment-total-height: 554px;
$icon-detail-comment-image: 'sprite.png';
$icon-detail-comment: 457px 208px -457px -208px 11px 11px 563px 554px 'sprite.png';
$icon-detail-next-dis-x: 471px;
$icon-detail-next-dis-y: 312px;
$icon-detail-next-dis-offset-x: -471px;
$icon-detail-next-dis-offset-y: -312px;
$icon-detail-next-dis-width: 10px;
$icon-detail-next-dis-height: 14px;
$icon-detail-next-dis-total-width: 563px;
$icon-detail-next-dis-total-height: 554px;
$icon-detail-next-dis-image: 'sprite.png';
$icon-detail-next-dis: 471px 312px -471px -312px 10px 14px 563px 554px 'sprite.png';
$icon-detail-next-on-x: 472px;
$icon-detail-next-on-y: 76px;
$icon-detail-next-on-offset-x: -472px;
$icon-detail-next-on-offset-y: -76px;
$icon-detail-next-on-width: 10px;
$icon-detail-next-on-height: 14px;
$icon-detail-next-on-total-width: 563px;
$icon-detail-next-on-total-height: 554px;
$icon-detail-next-on-image: 'sprite.png';
$icon-detail-next-on: 472px 76px -472px -76px 10px 14px 563px 554px 'sprite.png';
$icon-detail-next-x: 207px;
$icon-detail-next-y: 62px;
$icon-detail-next-offset-x: -207px;
$icon-detail-next-offset-y: -62px;
$icon-detail-next-width: 10px;
$icon-detail-next-height: 14px;
$icon-detail-next-total-width: 563px;
$icon-detail-next-total-height: 554px;
$icon-detail-next-image: 'sprite.png';
$icon-detail-next: 207px 62px -207px -62px 10px 14px 563px 554px 'sprite.png';
$icon-detail-prev-dis-x: 471px;
$icon-detail-prev-dis-y: 276px;
$icon-detail-prev-dis-offset-x: -471px;
$icon-detail-prev-dis-offset-y: -276px;
$icon-detail-prev-dis-width: 10px;
$icon-detail-prev-dis-height: 14px;
$icon-detail-prev-dis-total-width: 563px;
$icon-detail-prev-dis-total-height: 554px;
$icon-detail-prev-dis-image: 'sprite.png';
$icon-detail-prev-dis: 471px 276px -471px -276px 10px 14px 563px 554px 'sprite.png';
$icon-detail-prev-on-x: 474px;
$icon-detail-prev-on-y: 220px;
$icon-detail-prev-on-offset-x: -474px;
$icon-detail-prev-on-offset-y: -220px;
$icon-detail-prev-on-width: 10px;
$icon-detail-prev-on-height: 14px;
$icon-detail-prev-on-total-width: 563px;
$icon-detail-prev-on-total-height: 554px;
$icon-detail-prev-on-image: 'sprite.png';
$icon-detail-prev-on: 474px 220px -474px -220px 10px 14px 563px 554px 'sprite.png';
$icon-detail-prev-x: 474px;
$icon-detail-prev-y: 184px;
$icon-detail-prev-offset-x: -474px;
$icon-detail-prev-offset-y: -184px;
$icon-detail-prev-width: 10px;
$icon-detail-prev-height: 14px;
$icon-detail-prev-total-width: 563px;
$icon-detail-prev-total-height: 554px;
$icon-detail-prev-image: 'sprite.png';
$icon-detail-prev: 474px 184px -474px -184px 10px 14px 563px 554px 'sprite.png';
$icon-detail-setup-on-x: 457px;
$icon-detail-setup-on-y: 137px;
$icon-detail-setup-on-offset-x: -457px;
$icon-detail-setup-on-offset-y: -137px;
$icon-detail-setup-on-width: 11px;
$icon-detail-setup-on-height: 11px;
$icon-detail-setup-on-total-width: 563px;
$icon-detail-setup-on-total-height: 554px;
$icon-detail-setup-on-image: 'sprite.png';
$icon-detail-setup-on: 457px 137px -457px -137px 11px 11px 563px 554px 'sprite.png';
$icon-detail-setup-x: 468px;
$icon-detail-setup-y: 208px;
$icon-detail-setup-offset-x: -468px;
$icon-detail-setup-offset-y: -208px;
$icon-detail-setup-width: 11px;
$icon-detail-setup-height: 11px;
$icon-detail-setup-total-width: 563px;
$icon-detail-setup-total-height: 554px;
$icon-detail-setup-image: 'sprite.png';
$icon-detail-setup: 468px 208px -468px -208px 11px 11px 563px 554px 'sprite.png';
$icon-down-fail-x: 120px;
$icon-down-fail-y: 514px;
$icon-down-fail-offset-x: -120px;
$icon-down-fail-offset-y: -514px;
$icon-down-fail-width: 60px;
$icon-down-fail-height: 20px;
$icon-down-fail-total-width: 563px;
$icon-down-fail-total-height: 554px;
$icon-down-fail-image: 'sprite.png';
$icon-down-fail: 120px 514px -120px -514px 60px 20px 563px 554px 'sprite.png';
$icon-down-ok-x: 180px;
$icon-down-ok-y: 514px;
$icon-down-ok-offset-x: -180px;
$icon-down-ok-offset-y: -514px;
$icon-down-ok-width: 60px;
$icon-down-ok-height: 20px;
$icon-down-ok-total-width: 563px;
$icon-down-ok-total-height: 554px;
$icon-down-ok-image: 'sprite.png';
$icon-down-ok: 180px 514px -180px -514px 60px 20px 563px 554px 'sprite.png';
$icon-down-on-x: 240px;
$icon-down-on-y: 514px;
$icon-down-on-offset-x: -240px;
$icon-down-on-offset-y: -514px;
$icon-down-on-width: 60px;
$icon-down-on-height: 20px;
$icon-down-on-total-width: 563px;
$icon-down-on-total-height: 554px;
$icon-down-on-image: 'sprite.png';
$icon-down-on: 240px 514px -240px -514px 60px 20px 563px 554px 'sprite.png';
$icon-down-x: 300px;
$icon-down-y: 514px;
$icon-down-offset-x: -300px;
$icon-down-offset-y: -514px;
$icon-down-width: 60px;
$icon-down-height: 20px;
$icon-down-total-width: 563px;
$icon-down-total-height: 554px;
$icon-down-image: 'sprite.png';
$icon-down: 300px 514px -300px -514px 60px 20px 563px 554px 'sprite.png';
$icon-downing-on-x: 509px;
$icon-downing-on-y: 492px;
$icon-downing-on-offset-x: -509px;
$icon-downing-on-offset-y: -492px;
$icon-downing-on-width: 30px;
$icon-downing-on-height: 20px;
$icon-downing-on-total-width: 563px;
$icon-downing-on-total-height: 554px;
$icon-downing-on-image: 'sprite.png';
$icon-downing-on: 509px 492px -509px -492px 30px 20px 563px 554px 'sprite.png';
$icon-downing-x: 360px;
$icon-downing-y: 514px;
$icon-downing-offset-x: -360px;
$icon-downing-offset-y: -514px;
$icon-downing-width: 60px;
$icon-downing-height: 20px;
$icon-downing-total-width: 563px;
$icon-downing-total-height: 554px;
$icon-downing-image: 'sprite.png';
$icon-downing: 360px 514px -360px -514px 60px 20px 563px 554px 'sprite.png';
$icon-fix-x: 502px;
$icon-fix-y: 448px;
$icon-fix-offset-x: -502px;
$icon-fix-offset-y: -448px;
$icon-fix-width: 15px;
$icon-fix-height: 15px;
$icon-fix-total-width: 563px;
$icon-fix-total-height: 554px;
$icon-fix-image: 'sprite.png';
$icon-fix: 502px 448px -502px -448px 15px 15px 563px 554px 'sprite.png';
$icon-indexbg-x: 59px;
$icon-indexbg-y: 492px;
$icon-indexbg-offset-x: -59px;
$icon-indexbg-offset-y: -492px;
$icon-indexbg-width: 104px;
$icon-indexbg-height: 22px;
$icon-indexbg-total-width: 563px;
$icon-indexbg-total-height: 554px;
$icon-indexbg-image: 'sprite.png';
$icon-indexbg: 59px 492px -59px -492px 104px 22px 563px 554px 'sprite.png';
$icon-ipad-on-x: 0px;
$icon-ipad-on-y: 534px;
$icon-ipad-on-offset-x: 0px;
$icon-ipad-on-offset-y: -534px;
$icon-ipad-on-width: 53px;
$icon-ipad-on-height: 20px;
$icon-ipad-on-total-width: 563px;
$icon-ipad-on-total-height: 554px;
$icon-ipad-on-image: 'sprite.png';
$icon-ipad-on: 0px 534px 0px -534px 53px 20px 563px 554px 'sprite.png';
$icon-ipad-x: 53px;
$icon-ipad-y: 534px;
$icon-ipad-offset-x: -53px;
$icon-ipad-offset-y: -534px;
$icon-ipad-width: 53px;
$icon-ipad-height: 20px;
$icon-ipad-total-width: 563px;
$icon-ipad-total-height: 554px;
$icon-ipad-image: 'sprite.png';
$icon-ipad: 53px 534px -53px -534px 53px 20px 563px 554px 'sprite.png';
$icon-ipad2-x: 180px;
$icon-ipad2-y: 170px;
$icon-ipad2-offset-x: -180px;
$icon-ipad2-offset-y: -170px;
$icon-ipad2-width: 35px;
$icon-ipad2-height: 35px;
$icon-ipad2-total-width: 563px;
$icon-ipad2-total-height: 554px;
$icon-ipad2-image: 'sprite.png';
$icon-ipad2: 180px 170px -180px -170px 35px 35px 563px 554px 'sprite.png';
$icon-ipad3-x: 457px;
$icon-ipad3-y: 112px;
$icon-ipad3-offset-x: -457px;
$icon-ipad3-offset-y: -112px;
$icon-ipad3-width: 25px;
$icon-ipad3-height: 25px;
$icon-ipad3-total-width: 563px;
$icon-ipad3-total-height: 554px;
$icon-ipad3-image: 'sprite.png';
$icon-ipad3: 457px 112px -457px -112px 25px 25px 563px 554px 'sprite.png';
$icon-iphone-on-x: 163px;
$icon-iphone-on-y: 492px;
$icon-iphone-on-offset-x: -163px;
$icon-iphone-on-offset-y: -492px;
$icon-iphone-on-width: 53px;
$icon-iphone-on-height: 20px;
$icon-iphone-on-total-width: 563px;
$icon-iphone-on-total-height: 554px;
$icon-iphone-on-image: 'sprite.png';
$icon-iphone-on: 163px 492px -163px -492px 53px 20px 563px 554px 'sprite.png';
$icon-iphone-x: 216px;
$icon-iphone-y: 492px;
$icon-iphone-offset-x: -216px;
$icon-iphone-offset-y: -492px;
$icon-iphone-width: 53px;
$icon-iphone-height: 20px;
$icon-iphone-total-width: 563px;
$icon-iphone-total-height: 554px;
$icon-iphone-image: 'sprite.png';
$icon-iphone: 216px 492px -216px -492px 53px 20px 563px 554px 'sprite.png';
$icon-m-cancel01-on-x: 73px;
$icon-m-cancel01-on-y: 436px;
$icon-m-cancel01-on-offset-x: -73px;
$icon-m-cancel01-on-offset-y: -436px;
$icon-m-cancel01-on-width: 38px;
$icon-m-cancel01-on-height: 28px;
$icon-m-cancel01-on-total-width: 563px;
$icon-m-cancel01-on-total-height: 554px;
$icon-m-cancel01-on-image: 'sprite.png';
$icon-m-cancel01-on: 73px 436px -73px -436px 38px 28px 563px 554px 'sprite.png';
$icon-m-cancel01-x: 111px;
$icon-m-cancel01-y: 436px;
$icon-m-cancel01-offset-x: -111px;
$icon-m-cancel01-offset-y: -436px;
$icon-m-cancel01-width: 38px;
$icon-m-cancel01-height: 28px;
$icon-m-cancel01-total-width: 563px;
$icon-m-cancel01-total-height: 554px;
$icon-m-cancel01-image: 'sprite.png';
$icon-m-cancel01: 111px 436px -111px -436px 38px 28px 563px 554px 'sprite.png';
$icon-m-cancel02-on-x: 149px;
$icon-m-cancel02-on-y: 436px;
$icon-m-cancel02-on-offset-x: -149px;
$icon-m-cancel02-on-offset-y: -436px;
$icon-m-cancel02-on-width: 38px;
$icon-m-cancel02-on-height: 28px;
$icon-m-cancel02-on-total-width: 563px;
$icon-m-cancel02-on-total-height: 554px;
$icon-m-cancel02-on-image: 'sprite.png';
$icon-m-cancel02-on: 149px 436px -149px -436px 38px 28px 563px 554px 'sprite.png';
$icon-m-cancel02-x: 187px;
$icon-m-cancel02-y: 436px;
$icon-m-cancel02-offset-x: -187px;
$icon-m-cancel02-offset-y: -436px;
$icon-m-cancel02-width: 38px;
$icon-m-cancel02-height: 28px;
$icon-m-cancel02-total-width: 563px;
$icon-m-cancel02-total-height: 554px;
$icon-m-cancel02-image: 'sprite.png';
$icon-m-cancel02: 187px 436px -187px -436px 38px 28px 563px 554px 'sprite.png';
$icon-m-down-fail-x: 225px;
$icon-m-down-fail-y: 436px;
$icon-m-down-fail-offset-x: -225px;
$icon-m-down-fail-offset-y: -436px;
$icon-m-down-fail-width: 76px;
$icon-m-down-fail-height: 28px;
$icon-m-down-fail-total-width: 563px;
$icon-m-down-fail-total-height: 554px;
$icon-m-down-fail-image: 'sprite.png';
$icon-m-down-fail: 225px 436px -225px -436px 76px 28px 563px 554px 'sprite.png';
$icon-m-down-ok-x: 301px;
$icon-m-down-ok-y: 436px;
$icon-m-down-ok-offset-x: -301px;
$icon-m-down-ok-offset-y: -436px;
$icon-m-down-ok-width: 76px;
$icon-m-down-ok-height: 28px;
$icon-m-down-ok-total-width: 563px;
$icon-m-down-ok-total-height: 554px;
$icon-m-down-ok-image: 'sprite.png';
$icon-m-down-ok: 301px 436px -301px -436px 76px 28px 563px 554px 'sprite.png';
$icon-m-down-on-x: 377px;
$icon-m-down-on-y: 436px;
$icon-m-down-on-offset-x: -377px;
$icon-m-down-on-offset-y: -436px;
$icon-m-down-on-width: 76px;
$icon-m-down-on-height: 28px;
$icon-m-down-on-total-width: 563px;
$icon-m-down-on-total-height: 554px;
$icon-m-down-on-image: 'sprite.png';
$icon-m-down-on: 377px 436px -377px -436px 76px 28px 563px 554px 'sprite.png';
$icon-m-down-x: 487px;
$icon-m-down-y: 0px;
$icon-m-down-offset-x: -487px;
$icon-m-down-offset-y: 0px;
$icon-m-down-width: 76px;
$icon-m-down-height: 28px;
$icon-m-down-total-width: 563px;
$icon-m-down-total-height: 554px;
$icon-m-down-image: 'sprite.png';
$icon-m-down: 487px 0px -487px 0px 76px 28px 563px 554px 'sprite.png';
$icon-m-downing-on-x: 487px;
$icon-m-downing-on-y: 28px;
$icon-m-downing-on-offset-x: -487px;
$icon-m-downing-on-offset-y: -28px;
$icon-m-downing-on-width: 38px;
$icon-m-downing-on-height: 28px;
$icon-m-downing-on-total-width: 563px;
$icon-m-downing-on-total-height: 554px;
$icon-m-downing-on-image: 'sprite.png';
$icon-m-downing-on: 487px 28px -487px -28px 38px 28px 563px 554px 'sprite.png';
$icon-m-downing-x: 487px;
$icon-m-downing-y: 56px;
$icon-m-downing-offset-x: -487px;
$icon-m-downing-offset-y: -56px;
$icon-m-downing-width: 76px;
$icon-m-downing-height: 28px;
$icon-m-downing-total-width: 563px;
$icon-m-downing-total-height: 554px;
$icon-m-downing-image: 'sprite.png';
$icon-m-downing: 487px 56px -487px -56px 76px 28px 563px 554px 'sprite.png';
$icon-m-resume-on-x: 525px;
$icon-m-resume-on-y: 28px;
$icon-m-resume-on-offset-x: -525px;
$icon-m-resume-on-offset-y: -28px;
$icon-m-resume-on-width: 38px;
$icon-m-resume-on-height: 28px;
$icon-m-resume-on-total-width: 563px;
$icon-m-resume-on-total-height: 554px;
$icon-m-resume-on-image: 'sprite.png';
$icon-m-resume-on: 525px 28px -525px -28px 38px 28px 563px 554px 'sprite.png';
$icon-m-resume-x: 487px;
$icon-m-resume-y: 84px;
$icon-m-resume-offset-x: -487px;
$icon-m-resume-offset-y: -84px;
$icon-m-resume-width: 38px;
$icon-m-resume-height: 28px;
$icon-m-resume-total-width: 563px;
$icon-m-resume-total-height: 554px;
$icon-m-resume-image: 'sprite.png';
$icon-m-resume: 487px 84px -487px -84px 38px 28px 563px 554px 'sprite.png';
$icon-m-setup-fail-x: 487px;
$icon-m-setup-fail-y: 112px;
$icon-m-setup-fail-offset-x: -487px;
$icon-m-setup-fail-offset-y: -112px;
$icon-m-setup-fail-width: 76px;
$icon-m-setup-fail-height: 28px;
$icon-m-setup-fail-total-width: 563px;
$icon-m-setup-fail-total-height: 554px;
$icon-m-setup-fail-image: 'sprite.png';
$icon-m-setup-fail: 487px 112px -487px -112px 76px 28px 563px 554px 'sprite.png';
$icon-m-setup-ok-x: 487px;
$icon-m-setup-ok-y: 140px;
$icon-m-setup-ok-offset-x: -487px;
$icon-m-setup-ok-offset-y: -140px;
$icon-m-setup-ok-width: 76px;
$icon-m-setup-ok-height: 28px;
$icon-m-setup-ok-total-width: 563px;
$icon-m-setup-ok-total-height: 554px;
$icon-m-setup-ok-image: 'sprite.png';
$icon-m-setup-ok: 487px 140px -487px -140px 76px 28px 563px 554px 'sprite.png';
$icon-m-setup-on-x: 487px;
$icon-m-setup-on-y: 168px;
$icon-m-setup-on-offset-x: -487px;
$icon-m-setup-on-offset-y: -168px;
$icon-m-setup-on-width: 76px;
$icon-m-setup-on-height: 28px;
$icon-m-setup-on-total-width: 563px;
$icon-m-setup-on-total-height: 554px;
$icon-m-setup-on-image: 'sprite.png';
$icon-m-setup-on: 487px 168px -487px -168px 76px 28px 563px 554px 'sprite.png';
$icon-m-setup-x: 487px;
$icon-m-setup-y: 196px;
$icon-m-setup-offset-x: -487px;
$icon-m-setup-offset-y: -196px;
$icon-m-setup-width: 76px;
$icon-m-setup-height: 28px;
$icon-m-setup-total-width: 563px;
$icon-m-setup-total-height: 554px;
$icon-m-setup-image: 'sprite.png';
$icon-m-setup: 487px 196px -487px -196px 76px 28px 563px 554px 'sprite.png';
$icon-m-setuping-x: 487px;
$icon-m-setuping-y: 224px;
$icon-m-setuping-offset-x: -487px;
$icon-m-setuping-offset-y: -224px;
$icon-m-setuping-width: 76px;
$icon-m-setuping-height: 28px;
$icon-m-setuping-total-width: 563px;
$icon-m-setuping-total-height: 554px;
$icon-m-setuping-image: 'sprite.png';
$icon-m-setuping: 487px 224px -487px -224px 76px 28px 563px 554px 'sprite.png';
$icon-m-update-on-x: 39px;
$icon-m-update-on-y: 402px;
$icon-m-update-on-offset-x: -39px;
$icon-m-update-on-offset-y: -402px;
$icon-m-update-on-width: 76px;
$icon-m-update-on-height: 28px;
$icon-m-update-on-total-width: 563px;
$icon-m-update-on-total-height: 554px;
$icon-m-update-on-image: 'sprite.png';
$icon-m-update-on: 39px 402px -39px -402px 76px 28px 563px 554px 'sprite.png';
$icon-m-update-x: 487px;
$icon-m-update-y: 280px;
$icon-m-update-offset-x: -487px;
$icon-m-update-offset-y: -280px;
$icon-m-update-width: 76px;
$icon-m-update-height: 28px;
$icon-m-update-total-width: 563px;
$icon-m-update-total-height: 554px;
$icon-m-update-image: 'sprite.png';
$icon-m-update: 487px 280px -487px -280px 76px 28px 563px 554px 'sprite.png';
$icon-m-updateing-x: 487px;
$icon-m-updateing-y: 308px;
$icon-m-updateing-offset-x: -487px;
$icon-m-updateing-offset-y: -308px;
$icon-m-updateing-width: 76px;
$icon-m-updateing-height: 28px;
$icon-m-updateing-total-width: 563px;
$icon-m-updateing-total-height: 554px;
$icon-m-updateing-image: 'sprite.png';
$icon-m-updateing: 487px 308px -487px -308px 76px 28px 563px 554px 'sprite.png';
$icon-more-on-x: 207px;
$icon-more-on-y: 90px;
$icon-more-on-offset-x: -207px;
$icon-more-on-offset-y: -90px;
$icon-more-on-width: 13px;
$icon-more-on-height: 13px;
$icon-more-on-total-width: 563px;
$icon-more-on-total-height: 554px;
$icon-more-on-image: 'sprite.png';
$icon-more-on: 207px 90px -207px -90px 13px 13px 563px 554px 'sprite.png';
$icon-more-x: 143px;
$icon-more-y: 72px;
$icon-more-offset-x: -143px;
$icon-more-offset-y: -72px;
$icon-more-width: 13px;
$icon-more-height: 13px;
$icon-more-total-width: 563px;
$icon-more-total-height: 554px;
$icon-more-image: 'sprite.png';
$icon-more: 143px 72px -143px -72px 13px 13px 563px 554px 'sprite.png';
$icon-number-gray-x: 517px;
$icon-number-gray-y: 448px;
$icon-number-gray-offset-x: -517px;
$icon-number-gray-offset-y: -448px;
$icon-number-gray-width: 15px;
$icon-number-gray-height: 15px;
$icon-number-gray-total-width: 563px;
$icon-number-gray-total-height: 554px;
$icon-number-gray-image: 'sprite.png';
$icon-number-gray: 517px 448px -517px -448px 15px 15px 563px 554px 'sprite.png';
$icon-number-red-x: 487px;
$icon-number-red-y: 448px;
$icon-number-red-offset-x: -487px;
$icon-number-red-offset-y: -448px;
$icon-number-red-width: 15px;
$icon-number-red-height: 15px;
$icon-number-red-total-width: 563px;
$icon-number-red-total-height: 554px;
$icon-number-red-image: 'sprite.png';
$icon-number-red: 487px 448px -487px -448px 15px 15px 563px 554px 'sprite.png';
$icon-resume-on-x: 511px;
$icon-resume-on-y: 464px;
$icon-resume-on-offset-x: -511px;
$icon-resume-on-offset-y: -464px;
$icon-resume-on-width: 30px;
$icon-resume-on-height: 20px;
$icon-resume-on-total-width: 563px;
$icon-resume-on-total-height: 554px;
$icon-resume-on-image: 'sprite.png';
$icon-resume-on: 511px 464px -511px -464px 30px 20px 563px 554px 'sprite.png';
$icon-resume-x: 269px;
$icon-resume-y: 492px;
$icon-resume-offset-x: -269px;
$icon-resume-offset-y: -492px;
$icon-resume-width: 30px;
$icon-resume-height: 20px;
$icon-resume-total-width: 563px;
$icon-resume-total-height: 554px;
$icon-resume-image: 'sprite.png';
$icon-resume: 269px 492px -269px -492px 30px 20px 563px 554px 'sprite.png';
$icon-s-cancel01-on-x: 487px;
$icon-s-cancel01-on-y: 420px;
$icon-s-cancel01-on-offset-x: -487px;
$icon-s-cancel01-on-offset-y: -420px;
$icon-s-cancel01-on-width: 37px;
$icon-s-cancel01-on-height: 28px;
$icon-s-cancel01-on-total-width: 563px;
$icon-s-cancel01-on-total-height: 554px;
$icon-s-cancel01-on-image: 'sprite.png';
$icon-s-cancel01-on: 487px 420px -487px -420px 37px 28px 563px 554px 'sprite.png';
$icon-s-cancel01-x: 524px;
$icon-s-cancel01-y: 420px;
$icon-s-cancel01-offset-x: -524px;
$icon-s-cancel01-offset-y: -420px;
$icon-s-cancel01-width: 37px;
$icon-s-cancel01-height: 28px;
$icon-s-cancel01-total-width: 563px;
$icon-s-cancel01-total-height: 554px;
$icon-s-cancel01-image: 'sprite.png';
$icon-s-cancel01: 524px 420px -524px -420px 37px 28px 563px 554px 'sprite.png';
$icon-s-cancel02-on-x: 0px;
$icon-s-cancel02-on-y: 464px;
$icon-s-cancel02-on-offset-x: 0px;
$icon-s-cancel02-on-offset-y: -464px;
$icon-s-cancel02-on-width: 37px;
$icon-s-cancel02-on-height: 28px;
$icon-s-cancel02-on-total-width: 563px;
$icon-s-cancel02-on-total-height: 554px;
$icon-s-cancel02-on-image: 'sprite.png';
$icon-s-cancel02-on: 0px 464px 0px -464px 37px 28px 563px 554px 'sprite.png';
$icon-s-cancel02-x: 37px;
$icon-s-cancel02-y: 464px;
$icon-s-cancel02-offset-x: -37px;
$icon-s-cancel02-offset-y: -464px;
$icon-s-cancel02-width: 37px;
$icon-s-cancel02-height: 28px;
$icon-s-cancel02-total-width: 563px;
$icon-s-cancel02-total-height: 554px;
$icon-s-cancel02-image: 'sprite.png';
$icon-s-cancel02: 37px 464px -37px -464px 37px 28px 563px 554px 'sprite.png';
$icon-s-down-fail-x: 74px;
$icon-s-down-fail-y: 464px;
$icon-s-down-fail-offset-x: -74px;
$icon-s-down-fail-offset-y: -464px;
$icon-s-down-fail-width: 73px;
$icon-s-down-fail-height: 28px;
$icon-s-down-fail-total-width: 563px;
$icon-s-down-fail-total-height: 554px;
$icon-s-down-fail-image: 'sprite.png';
$icon-s-down-fail: 74px 464px -74px -464px 73px 28px 563px 554px 'sprite.png';
$icon-s-down-ok-x: 147px;
$icon-s-down-ok-y: 464px;
$icon-s-down-ok-offset-x: -147px;
$icon-s-down-ok-offset-y: -464px;
$icon-s-down-ok-width: 73px;
$icon-s-down-ok-height: 28px;
$icon-s-down-ok-total-width: 563px;
$icon-s-down-ok-total-height: 554px;
$icon-s-down-ok-image: 'sprite.png';
$icon-s-down-ok: 147px 464px -147px -464px 73px 28px 563px 554px 'sprite.png';
$icon-s-down-on-x: 220px;
$icon-s-down-on-y: 464px;
$icon-s-down-on-offset-x: -220px;
$icon-s-down-on-offset-y: -464px;
$icon-s-down-on-width: 73px;
$icon-s-down-on-height: 28px;
$icon-s-down-on-total-width: 563px;
$icon-s-down-on-total-height: 554px;
$icon-s-down-on-image: 'sprite.png';
$icon-s-down-on: 220px 464px -220px -464px 73px 28px 563px 554px 'sprite.png';
$icon-s-down-x: 293px;
$icon-s-down-y: 464px;
$icon-s-down-offset-x: -293px;
$icon-s-down-offset-y: -464px;
$icon-s-down-width: 73px;
$icon-s-down-height: 28px;
$icon-s-down-total-width: 563px;
$icon-s-down-total-height: 554px;
$icon-s-down-image: 'sprite.png';
$icon-s-down: 293px 464px -293px -464px 73px 28px 563px 554px 'sprite.png';
$icon-s-downing-on-x: 366px;
$icon-s-downing-on-y: 464px;
$icon-s-downing-on-offset-x: -366px;
$icon-s-downing-on-offset-y: -464px;
$icon-s-downing-on-width: 36px;
$icon-s-downing-on-height: 28px;
$icon-s-downing-on-total-width: 563px;
$icon-s-downing-on-total-height: 554px;
$icon-s-downing-on-image: 'sprite.png';
$icon-s-downing-on: 366px 464px -366px -464px 36px 28px 563px 554px 'sprite.png';
$icon-s-downing-x: 402px;
$icon-s-downing-y: 464px;
$icon-s-downing-offset-x: -402px;
$icon-s-downing-offset-y: -464px;
$icon-s-downing-width: 73px;
$icon-s-downing-height: 28px;
$icon-s-downing-total-width: 563px;
$icon-s-downing-total-height: 554px;
$icon-s-downing-image: 'sprite.png';
$icon-s-downing: 402px 464px -402px -464px 73px 28px 563px 554px 'sprite.png';
$icon-s-resume-on-x: 475px;
$icon-s-resume-on-y: 464px;
$icon-s-resume-on-offset-x: -475px;
$icon-s-resume-on-offset-y: -464px;
$icon-s-resume-on-width: 36px;
$icon-s-resume-on-height: 28px;
$icon-s-resume-on-total-width: 563px;
$icon-s-resume-on-total-height: 554px;
$icon-s-resume-on-image: 'sprite.png';
$icon-s-resume-on: 475px 464px -475px -464px 36px 28px 563px 554px 'sprite.png';
$icon-s-resume-x: 525px;
$icon-s-resume-y: 84px;
$icon-s-resume-offset-x: -525px;
$icon-s-resume-offset-y: -84px;
$icon-s-resume-width: 36px;
$icon-s-resume-height: 28px;
$icon-s-resume-total-width: 563px;
$icon-s-resume-total-height: 554px;
$icon-s-resume-image: 'sprite.png';
$icon-s-resume: 525px 84px -525px -84px 36px 28px 563px 554px 'sprite.png';
$icon-s-setup-fail-x: 487px;
$icon-s-setup-fail-y: 252px;
$icon-s-setup-fail-offset-x: -487px;
$icon-s-setup-fail-offset-y: -252px;
$icon-s-setup-fail-width: 73px;
$icon-s-setup-fail-height: 28px;
$icon-s-setup-fail-total-width: 563px;
$icon-s-setup-fail-total-height: 554px;
$icon-s-setup-fail-image: 'sprite.png';
$icon-s-setup-fail: 487px 252px -487px -252px 73px 28px 563px 554px 'sprite.png';
$icon-s-setup-ok-x: 0px;
$icon-s-setup-ok-y: 436px;
$icon-s-setup-ok-offset-x: 0px;
$icon-s-setup-ok-offset-y: -436px;
$icon-s-setup-ok-width: 73px;
$icon-s-setup-ok-height: 28px;
$icon-s-setup-ok-total-width: 563px;
$icon-s-setup-ok-total-height: 554px;
$icon-s-setup-ok-image: 'sprite.png';
$icon-s-setup-ok: 0px 436px 0px -436px 73px 28px 563px 554px 'sprite.png';
$icon-s-setup-on-x: 407px;
$icon-s-setup-on-y: 402px;
$icon-s-setup-on-offset-x: -407px;
$icon-s-setup-on-offset-y: -402px;
$icon-s-setup-on-width: 73px;
$icon-s-setup-on-height: 28px;
$icon-s-setup-on-total-width: 563px;
$icon-s-setup-on-total-height: 554px;
$icon-s-setup-on-image: 'sprite.png';
$icon-s-setup-on: 407px 402px -407px -402px 73px 28px 563px 554px 'sprite.png';
$icon-s-setup-x: 261px;
$icon-s-setup-y: 402px;
$icon-s-setup-offset-x: -261px;
$icon-s-setup-offset-y: -402px;
$icon-s-setup-width: 73px;
$icon-s-setup-height: 28px;
$icon-s-setup-total-width: 563px;
$icon-s-setup-total-height: 554px;
$icon-s-setup-image: 'sprite.png';
$icon-s-setup: 261px 402px -261px -402px 73px 28px 563px 554px 'sprite.png';
$icon-s-setuping-x: 115px;
$icon-s-setuping-y: 402px;
$icon-s-setuping-offset-x: -115px;
$icon-s-setuping-offset-y: -402px;
$icon-s-setuping-width: 73px;
$icon-s-setuping-height: 28px;
$icon-s-setuping-total-width: 563px;
$icon-s-setuping-total-height: 554px;
$icon-s-setuping-image: 'sprite.png';
$icon-s-setuping: 115px 402px -115px -402px 73px 28px 563px 554px 'sprite.png';
$icon-s-update-on-x: 487px;
$icon-s-update-on-y: 392px;
$icon-s-update-on-offset-x: -487px;
$icon-s-update-on-offset-y: -392px;
$icon-s-update-on-width: 73px;
$icon-s-update-on-height: 28px;
$icon-s-update-on-total-width: 563px;
$icon-s-update-on-total-height: 554px;
$icon-s-update-on-image: 'sprite.png';
$icon-s-update-on: 487px 392px -487px -392px 73px 28px 563px 554px 'sprite.png';
$icon-s-update-x: 487px;
$icon-s-update-y: 364px;
$icon-s-update-offset-x: -487px;
$icon-s-update-offset-y: -364px;
$icon-s-update-width: 73px;
$icon-s-update-height: 28px;
$icon-s-update-total-width: 563px;
$icon-s-update-total-height: 554px;
$icon-s-update-image: 'sprite.png';
$icon-s-update: 487px 364px -487px -364px 73px 28px 563px 554px 'sprite.png';
$icon-s-updateing-x: 487px;
$icon-s-updateing-y: 336px;
$icon-s-updateing-offset-x: -487px;
$icon-s-updateing-offset-y: -336px;
$icon-s-updateing-width: 73px;
$icon-s-updateing-height: 28px;
$icon-s-updateing-total-width: 563px;
$icon-s-updateing-total-height: 554px;
$icon-s-updateing-image: 'sprite.png';
$icon-s-updateing: 487px 336px -487px -336px 73px 28px 563px 554px 'sprite.png';
$icon-search-null-x: 0px;
$icon-search-null-y: 0px;
$icon-search-null-offset-x: 0px;
$icon-search-null-offset-y: 0px;
$icon-search-null-width: 93px;
$icon-search-null-height: 108px;
$icon-search-null-total-width: 563px;
$icon-search-null-total-height: 554px;
$icon-search-null-image: 'sprite.png';
$icon-search-null: 0px 0px 0px 0px 93px 108px 563px 554px 'sprite.png';
$icon-search-setup-on-x: 334px;
$icon-search-setup-on-y: 402px;
$icon-search-setup-on-offset-x: -334px;
$icon-search-setup-on-offset-y: -402px;
$icon-search-setup-on-width: 73px;
$icon-search-setup-on-height: 28px;
$icon-search-setup-on-total-width: 563px;
$icon-search-setup-on-total-height: 554px;
$icon-search-setup-on-image: 'sprite.png';
$icon-search-setup-on: 334px 402px -334px -402px 73px 28px 563px 554px 'sprite.png';
$icon-search-setup-x: 188px;
$icon-search-setup-y: 402px;
$icon-search-setup-offset-x: -188px;
$icon-search-setup-offset-y: -402px;
$icon-search-setup-width: 73px;
$icon-search-setup-height: 28px;
$icon-search-setup-total-width: 563px;
$icon-search-setup-total-height: 554px;
$icon-search-setup-image: 'sprite.png';
$icon-search-setup: 188px 402px -188px -402px 73px 28px 563px 554px 'sprite.png';
$icon-setup-fail-x: 60px;
$icon-setup-fail-y: 514px;
$icon-setup-fail-offset-x: -60px;
$icon-setup-fail-offset-y: -514px;
$icon-setup-fail-width: 60px;
$icon-setup-fail-height: 20px;
$icon-setup-fail-total-width: 563px;
$icon-setup-fail-total-height: 554px;
$icon-setup-fail-image: 'sprite.png';
$icon-setup-fail: 60px 514px -60px -514px 60px 20px 563px 554px 'sprite.png';
$icon-setup-ok-x: 0px;
$icon-setup-ok-y: 514px;
$icon-setup-ok-offset-x: 0px;
$icon-setup-ok-offset-y: -514px;
$icon-setup-ok-width: 60px;
$icon-setup-ok-height: 20px;
$icon-setup-ok-total-width: 563px;
$icon-setup-ok-total-height: 554px;
$icon-setup-ok-image: 'sprite.png';
$icon-setup-ok: 0px 514px 0px -514px 60px 20px 563px 554px 'sprite.png';
$icon-setup-on-x: 449px;
$icon-setup-on-y: 492px;
$icon-setup-on-offset-x: -449px;
$icon-setup-on-offset-y: -492px;
$icon-setup-on-width: 60px;
$icon-setup-on-height: 20px;
$icon-setup-on-total-width: 563px;
$icon-setup-on-total-height: 554px;
$icon-setup-on-image: 'sprite.png';
$icon-setup-on: 449px 492px -449px -492px 60px 20px 563px 554px 'sprite.png';
$icon-setup-x: 389px;
$icon-setup-y: 492px;
$icon-setup-offset-x: -389px;
$icon-setup-offset-y: -492px;
$icon-setup-width: 60px;
$icon-setup-height: 20px;
$icon-setup-total-width: 563px;
$icon-setup-total-height: 554px;
$icon-setup-image: 'sprite.png';
$icon-setup: 389px 492px -389px -492px 60px 20px 563px 554px 'sprite.png';
$icon-setuping-x: 329px;
$icon-setuping-y: 492px;
$icon-setuping-offset-x: -329px;
$icon-setuping-offset-y: -492px;
$icon-setuping-width: 60px;
$icon-setuping-height: 20px;
$icon-setuping-total-width: 563px;
$icon-setuping-total-height: 554px;
$icon-setuping-image: 'sprite.png';
$icon-setuping: 329px 492px -329px -492px 60px 20px 563px 554px 'sprite.png';
$icon-slider-on-x: 227px;
$icon-slider-on-y: 200px;
$icon-slider-on-offset-x: -227px;
$icon-slider-on-offset-y: -200px;
$icon-slider-on-width: 20px;
$icon-slider-on-height: 8px;
$icon-slider-on-total-width: 563px;
$icon-slider-on-total-height: 554px;
$icon-slider-on-image: 'sprite.png';
$icon-slider-on: 227px 200px -227px -200px 20px 8px 563px 554px 'sprite.png';
$icon-slider-x: 479px;
$icon-slider-y: 137px;
$icon-slider-offset-x: -479px;
$icon-slider-offset-y: -137px;
$icon-slider-width: 8px;
$icon-slider-height: 8px;
$icon-slider-total-width: 563px;
$icon-slider-total-height: 554px;
$icon-slider-image: 'sprite.png';
$icon-slider: 479px 137px -479px -137px 8px 8px 563px 554px 'sprite.png';
$icon-tag-alone-x: 439px;
$icon-tag-alone-y: 330px;
$icon-tag-alone-offset-x: -439px;
$icon-tag-alone-offset-y: -330px;
$icon-tag-alone-width: 39px;
$icon-tag-alone-height: 34px;
$icon-tag-alone-total-width: 563px;
$icon-tag-alone-total-height: 554px;
$icon-tag-alone-image: 'sprite.png';
$icon-tag-alone: 439px 330px -439px -330px 39px 34px 563px 554px 'sprite.png';
$icon-tag-install-x: 310px;
$icon-tag-install-y: 250px;
$icon-tag-install-offset-x: -310px;
$icon-tag-install-offset-y: -250px;
$icon-tag-install-width: 39px;
$icon-tag-install-height: 34px;
$icon-tag-install-total-width: 563px;
$icon-tag-install-total-height: 554px;
$icon-tag-install-image: 'sprite.png';
$icon-tag-install: 310px 250px -310px -250px 39px 34px 563px 554px 'sprite.png';
$icon-tag-jailbreak-x: 0px;
$icon-tag-jailbreak-y: 402px;
$icon-tag-jailbreak-offset-x: 0px;
$icon-tag-jailbreak-offset-y: -402px;
$icon-tag-jailbreak-width: 39px;
$icon-tag-jailbreak-height: 34px;
$icon-tag-jailbreak-total-width: 563px;
$icon-tag-jailbreak-total-height: 554px;
$icon-tag-jailbreak-image: 'sprite.png';
$icon-tag-jailbreak: 0px 402px 0px -402px 39px 34px 563px 554px 'sprite.png';
$icon-tag-online-x: 433px;
$icon-tag-online-y: 366px;
$icon-tag-online-offset-x: -433px;
$icon-tag-online-offset-y: -366px;
$icon-tag-online-width: 39px;
$icon-tag-online-height: 34px;
$icon-tag-online-total-width: 563px;
$icon-tag-online-total-height: 554px;
$icon-tag-online-image: 'sprite.png';
$icon-tag-online: 433px 366px -433px -366px 39px 34px 563px 554px 'sprite.png';
$icon-tag-outdoor-x: 400px;
$icon-tag-outdoor-y: 330px;
$icon-tag-outdoor-offset-x: -400px;
$icon-tag-outdoor-offset-y: -330px;
$icon-tag-outdoor-width: 39px;
$icon-tag-outdoor-height: 34px;
$icon-tag-outdoor-total-width: 563px;
$icon-tag-outdoor-total-height: 554px;
$icon-tag-outdoor-image: 'sprite.png';
$icon-tag-outdoor: 400px 330px -400px -330px 39px 34px 563px 554px 'sprite.png';
$icon-tag-sns-x: 394px;
$icon-tag-sns-y: 366px;
$icon-tag-sns-offset-x: -394px;
$icon-tag-sns-offset-y: -366px;
$icon-tag-sns-width: 39px;
$icon-tag-sns-height: 34px;
$icon-tag-sns-total-width: 563px;
$icon-tag-sns-total-height: 554px;
$icon-tag-sns-image: 'sprite.png';
$icon-tag-sns: 394px 366px -394px -366px 39px 34px 563px 554px 'sprite.png';
$icon-topic-count-x: 457px;
$icon-topic-count-y: 312px;
$icon-topic-count-offset-x: -457px;
$icon-topic-count-offset-y: -312px;
$icon-topic-count-width: 14px;
$icon-topic-count-height: 14px;
$icon-topic-count-total-width: 563px;
$icon-topic-count-total-height: 554px;
$icon-topic-count-image: 'sprite.png';
$icon-topic-count: 457px 312px -457px -312px 14px 14px 563px 554px 'sprite.png';
$icon-topic-onekey-x: 200px;
$icon-topic-onekey-y: 366px;
$icon-topic-onekey-offset-x: -200px;
$icon-topic-onekey-offset-y: -366px;
$icon-topic-onekey-width: 100px;
$icon-topic-onekey-height: 36px;
$icon-topic-onekey-total-width: 563px;
$icon-topic-onekey-total-height: 554px;
$icon-topic-onekey-image: 'sprite.png';
$icon-topic-onekey: 200px 366px -200px -366px 100px 36px 563px 554px 'sprite.png';
$icon-update-on-x: 480px;
$icon-update-on-y: 514px;
$icon-update-on-offset-x: -480px;
$icon-update-on-offset-y: -514px;
$icon-update-on-width: 60px;
$icon-update-on-height: 20px;
$icon-update-on-total-width: 563px;
$icon-update-on-total-height: 554px;
$icon-update-on-image: 'sprite.png';
$icon-update-on: 480px 514px -480px -514px 60px 20px 563px 554px 'sprite.png';
$icon-update-x: 420px;
$icon-update-y: 514px;
$icon-update-offset-x: -420px;
$icon-update-offset-y: -514px;
$icon-update-width: 60px;
$icon-update-height: 20px;
$icon-update-total-width: 563px;
$icon-update-total-height: 554px;
$icon-update-image: 'sprite.png';
$icon-update: 420px 514px -420px -514px 60px 20px 563px 554px 'sprite.png';
$icon-updateing-x: 106px;
$icon-updateing-y: 534px;
$icon-updateing-offset-x: -106px;
$icon-updateing-offset-y: -534px;
$icon-updateing-width: 60px;
$icon-updateing-height: 20px;
$icon-updateing-total-width: 563px;
$icon-updateing-total-height: 554px;
$icon-updateing-image: 'sprite.png';
$icon-updateing: 106px 534px -106px -534px 60px 20px 563px 554px 'sprite.png';
$light-star-x: 532px;
$light-star-y: 448px;
$light-star-offset-x: -532px;
$light-star-offset-y: -448px;
$light-star-width: 14px;
$light-star-height: 14px;
$light-star-total-width: 563px;
$light-star-total-height: 554px;
$light-star-image: 'sprite.png';
$light-star: 532px 448px -532px -448px 14px 14px 563px 554px 'sprite.png';
$tip-fail-x: 472px;
$tip-fail-y: 40px;
$tip-fail-offset-x: -472px;
$tip-fail-offset-y: -40px;
$tip-fail-width: 15px;
$tip-fail-height: 30px;
$tip-fail-total-width: 563px;
$tip-fail-total-height: 554px;
$tip-fail-image: 'sprite.png';
$tip-fail: 472px 40px -472px -40px 15px 30px 563px 554px 'sprite.png';
$tip-ok-x: 457px;
$tip-ok-y: 40px;
$tip-ok-offset-x: -457px;
$tip-ok-offset-y: -40px;
$tip-ok-width: 15px;
$tip-ok-height: 30px;
$tip-ok-total-width: 563px;
$tip-ok-total-height: 554px;
$tip-ok-image: 'sprite.png';
$tip-ok: 457px 40px -457px -40px 15px 30px 563px 554px 'sprite.png';
$tip-warning-x: 457px;
$tip-warning-y: 76px;
$tip-warning-offset-x: -457px;
$tip-warning-offset-y: -76px;
$tip-warning-width: 15px;
$tip-warning-height: 30px;
$tip-warning-total-width: 563px;
$tip-warning-total-height: 554px;
$tip-warning-image: 'sprite.png';
$tip-warning: 457px 76px -457px -76px 15px 30px 563px 554px 'sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
